  <div class="ms_page">
    <div class="container clearfix">
        <form class="grid_7 push_3"  [formGroup]="form" (submit)="onSignup()">
            <input  class="grid_10 push_1"type="text" formControlName="firstName" placeholder="First Name">
            <input  class="grid_10 push_1" type="text" formControlName="lastName" placeholder="Last Name">
            <input  class="grid_10 push_1" type="email" formControlName="email" placeholder="Email">
            <span class="grid_10 push_1" *ngIf="!form.get('email').valid && form.get('email').dirty">
                Please fill in a valid email address
              </span>
            <input  class="grid_10 push_1"  type="password" formControlName="password" placeholder="Password:  Aaaa1111,  min 8">
            <span class="grid_10 push_1" *ngIf="!form.get('password').valid && form.get('password').dirty">
                Password must have at least 8 characters a combination of letters, numbers and capitals
              </span>
            <input class="grid_10 push_1"  type="password" formControlName="confirmPassword" placeholder="Confirm password">
            <span class="grid_10 push_1" *ngIf="!form.get('confirmPassword').valid && form.get('confirmPassword').dirty || noMatch">
              Passwords don't match</span>
            <!-- <button  type="button" (click)="filePicker.click()">Pick Image</button> -->
            <!-- <input type="file" name="image" #filePicker (change)="onImagePicked($event)"> -->
          <!-- <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
          </div> -->

          <div class="grid_4 push_3 ms_submit" >
              <button type="submit" [disabled]="!form.valid"><i *ngIf="!form.valid">All fields are required</i><i *ngIf="form.valid">Sign up</i></button>
          </div>
        </form>
      <!-- <img [src]="newURL" *ngIf="newURL !== '' && newURL"> -->
    </div>
   </div>
