@import '../../../../global-styles/main.scss';
input[type="file"] {
    visibility: hidden;
  }
  .ms_page{
    background-color: $theme_grey;
    input{
      background-color: $theme_grey;
      padding: 14px;
      line-height: 1em;
      border-radius: 6px;
      border: 1px solid $theme_blue;
      color: white;
    }
    input:focus{
      border: 1px solid white;
      color: white;
    }
    input::placeholder{
      color: $theme_blue;
    }
    input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty:focus{
      border: 1px solid $theme_pink;
      color: $theme_pink_light;
    }
    input.ng-invalid.ng-touched::placeholder{
      color: $theme_pink;
    }
    input.ng-valid.ng-touched, input.ng-valid:focus{
      border: 1px solid $theme_lime_green;
      color: $theme_lime_green;
    }
    span{
      color: $theme_pink_light;
    }
    .ms_submit{
      width: 50%;
      display: block;
      padding: 4px;
      text-align: center;
      background-color: $theme_blue;
      border: 1px solid $theme_blue;
      color: white;
      border-radius: 6px;
      button{
        background-color: $theme_blue;
        color: white;
      }
      &:hover, &:active{
        button{
          color: white;
          background-color: $theme_grey;
          @include transition(all, 0.3s, ease-in-out);

        }
        border: 1px solid white;
        background-color: $theme_grey;
        @include transition(all, 0.3s, ease-in-out);

    }
  }

  }
