@import '../../global-styles/main.scss';
header{
    // background-color: $theme_grey;
    padding: 10px 0 8px 0;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-evenly;

    .ms_logo{
        position: absolute;
        top: 10px;
        left: 20px;
        width: 5%;
        &:focus {
            outline: none;
        }
        @media only screen and(max-width: 980px){
            width: 8%;
        }
        @media only screen and(max-width: 680px){
            width: 10%;
        }
        @media only screen and(max-width: 580px){
            width: 15%;
        }
        span{
            padding-top: 4px;
            font-size: 1.275em;
            color: $theme_blue;
        }
        #ms_name{
            color: $theme_grey;
        }
        #logo_svg{
            .st3{
                stroke-dashoffset: 3000;
                fill: $theme_grey;
                @include transition(all, 1s, ease-in-out);    
            }
            .st4{
                stroke-dashoffset: 3000;
                fill: $theme_blue;
                @include transition(all, 1s, ease-in-out);    
            }
        }
        &:hover, &:active{
            span{
                color: $theme_grey;
                @include transition(all, 1s, ease-in-out);    

            }
            #ms_name{
                color: $theme_blue;
                @include transition(all, 1s, ease-in-out);    

            }
            #logo_svg{
                .st3{
                    stroke-dashoffset: 0;
                    fill: $theme_blue;
                    @include transition(all, 1s, ease-in-out);    
                }
                .st4{
                    stroke-dashoffset: 0;
                    fill: $theme_grey;
                    @include transition(all, 1s, ease-in-out);    
                }
             }

        }
    }
    nav{
        text-align: center;
        flex-grow: 3;
        .nav_link{
            padding: 0 10px 0 10px;
            @media only screen and(max-width: 650px){
                padding: 0 10px 0 0;
            }
            #calendar_svg{
                max-width: 30px;
                line{
                    stroke: white;
                }
            }
            #posts_svg, #calendar_svg{
                polygon, rect{
                    fill: white;
                    stroke:none;
                }
                path:nth-child(2){
                    stroke: white;
                }
            }
            svg{
                max-width: 40px;
                polyline, path, circle, polygon, line{
                    fill: $theme_blue;
                }
            }
            p{
                opacity: 0;
                color: #616161;
            }
            &:hover, &:active{
                #posts_svg{
                    polygon, rect{
                        fill: $theme_grey;
                        @include transition(all, 1s, ease-in-out);
                    }
                    
                    path:nth-child(2){
                        stroke: $theme_grey;
                        @include transition(all, 1s, ease-in-out);

                    }
                }
                #calendar_svg{
                    line{
                        stroke: $theme_grey;
                        @include transition(all, 1s, ease-in-out);
                    }
                }
                svg{
                    polyline, path, circle, polygon, line{
                        stroke-dashoffset: 0;
                        fill: none;
                        @include transition(all, 1s, ease-in-out);
                    } 
                }
                p{
                    opacity: 1;
                    @include transition(all, 1s, ease-in-out);
                }
            }

        }
        @media only screen and(max-width: 680px){
            padding: 80px 0 0 0;
        }
    }
    .ms_access{
        position: absolute;
        top: 0;
        right: 20px;
        svg{
            width:25px;
            padding: 20px 6px 6px 6px;
            polyline, path, circle, polygon, line{
                fill: $theme_blue;
            }

        }
        a{
            opacity: 0;
            color: #616161;
            font-size: 14px;
        }
        &:hover, &:active{
            svg{
                polyline, path, circle, polygon, line{
                    stroke-dashoffset: 0;
                    fill: none;
                    @include transition(all, 1s, ease-in-out);
                } 
            }
            a{
                opacity: 1;
                @include transition(all, 1s, ease-in-out);
            }
        }

    }

}