  <header>
    <div class="ms_logo" routerLink="/" routerLinkActive="active">
    <svg version="1.1" id="logo_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1578.6 838.7" style="enable-background:new 0 0 1578.6 838.7;" xml:space="preserve">
     <style type="text/css">
       .st0{display:none;fill:none;stroke:#616161;stroke-miterlimit:10;}
       .st1{display:none;fill:none;stroke:#616161;stroke-width:3;stroke-miterlimit:10;}
       .st2{display:none;stroke:#616161;stroke-width:3;stroke-miterlimit:10;}
       .st3{fill:#616161;stroke:#7FBECE;stroke-width:9;stroke-miterlimit:10;}
       .st4{fill:#7FBECE;stroke:#616161;stroke-width:9;stroke-miterlimit:10;}
       .st5{display:none;}
     </style>
     <line class="st0" x1="1519.1" y1="428.7" x2="2026.7" y2="936.3" />
     <line class="st1" x1="1372.1" y1="697.2" x2="403.1" y2="697.2" />
     <line class="st2" x1="1089.1" y1="295.2" x2="289.1" y2="295.2" />
     <line class="st1" x1="786.9" y1="295.2" x2="1412.5" y2="-330.4" />
     <line class="st1" x1="1137.8" y1="311.7" x2="1682.3" y2="856.2" />
     <line class="st1" x1="1546.7" y1="516.1" x2="1078.6" y2="984.2" />
     <line class="st1" x1="1162.1" y1="404.6" x2="1663.1" y2="-96.4" />
     <g>
       <g>
         <path class="st3" d="M778.1,444.7c21.2-14.1,35.2-38.3,35.2-65.7c0-43.6-35.3-78.9-78.9-78.9c-25.3,0-47.8,11.9-62.3,30.5
           L315.7,687.1c-20.1,14.3-33.2,37.8-33.2,64.3c0,43.6,35.3,78.9,78.9,78.9c26.4,0,49.7-13,64-32.9L778.1,444.7z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
         <path class="st3" d="M392.2,556.6c3.6-2.3,7-5,10.2-7.9l0.1,0.1L504,445.1c19.5-14.4,32.2-37.6,32.2-63.7
           c0-43.6-35.3-78.9-78.9-78.9c-26.7,0-50.5,13.3-64.8,33.6l-23.9,24l-69.1,69.1c-4.2,3.4-8,7.2-11.4,11.4L37.7,691.1
           c-20.1,14.3-33.2,37.8-33.2,64.3c0,43.6,35.3,78.9,78.9,78.9c26.4,0,49.7-13,64-32.9L392.2,556.6z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
         <path class="st3" d="M1090.3,378c0-43.6-35.3-78.9-78.9-78.9c-28.2,0-53,14.8-66.9,37.2L702.7,578.1c-3.6,2.5-7,5.2-10.1,8.2
           l-1.1-1.1l-99.1,100c-19.9,14.3-33,37.7-33,64.1c0,0.5,0,1,0,1.5c0,0.5,0,1,0,1.5c0,43.6,35.3,78.9,78.9,78.9
           c26.4,0,49.7-13,64-32.9l92.1-92.1c6.1-4.6,11.6-10,16.1-16.1L1064,436.8C1080.1,422.4,1090.3,401.4,1090.3,378z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
       </g>
       <g>
         <path class="st4" d="M1548.1,536.7v4.1h4c-2.8-3-5.9-7.5-9.1-9.8l-349.9-351c-13.5-24.1-39.3-40.9-68.8-40.9
           c-43.6,0-78.9,35-78.9,78.6c0,22,9.1,41.8,23.6,56.1l-0.6,0.5l364.8,364.8c14.3,19.9,37.7,32.8,64,32.8
           c43.6,0,76.6-35.3,76.6-78.9C1574.1,570.9,1563.1,551,1548.1,536.7z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
         <path class="st4" d="M1389.7,676.5l-87.9-87.1c-14.2-21.1-38.2-34.9-65.5-34.9c-43.6,0-78.9,35.3-78.9,78.9
           c0,20.2,7.6,38.6,20,52.5l-0.3,0.3l103.6,101.5c14.4,19.5,37.5,32.2,63.6,32.2c43.6,0,78.9-35.3,78.9-78.9
           C1423.3,714.3,1410,690.8,1389.7,676.5z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
         <path class="st4" d="M1219.2,139.2l103.6,101.5c14.4,19.5,37.5,32.2,63.6,32.2c43.6,0,78.9-35.3,78.9-78.9
           c0-26.7-13.3-50.3-33.6-64.5l-88.1-87.3c-13.9-22.6-38.8-37.7-67.3-37.7c-43.6,0-78.9,35.3-78.9,78.9c0,21.5,8.6,40.9,22.5,55.1
           L1219.2,139.2z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
       </g>
     </g>
     <path class="st5" d="M470.7,331.9l-87.1,87.9c-21.1,14.2-34.9,38.2-34.9,65.5c0,43.6,35.3,78.9,78.9,78.9c20.2,0,38.6-7.6,52.5-20
       l0.3,0.3l101.5-103.6c19.5-14.4,32.2-37.5,32.2-63.6c0-43.6-35.3-78.9-78.9-78.9C508.5,298.3,485,311.6,470.7,331.9z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
     <path class="st5" d="M887.2,377.4c0-43.6-35.3-78.9-78.9-78.9c-24.7,0-46.8,11.4-61.3,29.2l0,0L526.3,553l0,0
       c-21,14.2-34.8,38.2-34.8,65.4c0,43.6,35.3,78.9,78.9,78.9c26,0,49.1-12.6,63.4-32l0,0l231.3-229.5v-3.6
       C878.8,418,887.2,398.7,887.2,377.4z" stroke-dasharray="3000" stroke-dashoffset="3000"/>
     <circle class="st5" cx="538.4" cy="374" r="75.5" />
     </svg>
     <span id="ms_name">MOR</span><span>SELLA</span>
    </div>

    <nav class="clearfix">
      <div class="grid_2"></div>
      <div class="nav_link none grid_2">
          <svg version="1.1" routerLink="/" routerLinkActive="active" id="home_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 372.7 371.3" style="enable-background:new 0 0 372.7 371.3;" xml:space="preserve">
          <style type="text/css">
            .home_svg{fill:none;stroke:#616161;stroke-width:9;stroke-miterlimit:10;}
          </style>
          <g>
            <polyline class="home_svg" points="2.8,154.8 190.8,5.8 369.8,154.3 	"  stroke-dasharray="1000" stroke-dashoffset="1000"/>
            <polyline class="home_svg" points="319.8,51.8 319.8,322.8 225.8,322.8 225.8,213.8 149.8,213.8 149.8,322.8 54.8,322.8 54.8,113.6 	" stroke-dasharray="1000" stroke-dashoffset="1000"/>
          </g>
       </svg>
       <p>HOME</p>
      </div>
      <div class="nav_link none grid_2">
       <svg version="1.1" routerLink="/about" routerLinkActive="active" id="about_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 387.9 371" style="enable-background:new 0 0 387.9 371;" xml:space="preserve">
        <style type="text/css">
          .about_svg1{fill:none;stroke:#616161;stroke-width:8;stroke-miterlimit:10;}
        </style>
        <g>
          <!-- <circle class="about_svg" cx="193.6" cy="88" r="84" stroke-dasharray="2000" stroke-dashoffset="2000"/> -->
          <path class="about_svg1" d="M110.6,215" stroke-dasharray="2000" stroke-dashoffset="2000"/>
          <path class="about_svg1" d="M168.6,277l25-23l23,23l23,23l11.1-85c0,0,83.9-15,95.9,54c0,0,5,74,31,98H5.6c0,0,25-72,28-97
            s41-82.4,109-52.7l3,82.7L168.6,277z" stroke-dasharray="2000" stroke-dashoffset="2000"/>
          <path class="about_svg1" d="M112.2,67.1c0,0,15.4-63.1,79.4-63.1c0,0,86.5,0.6,85.2,95.3C275.6,194,82.8,196.3,112.2,67.1z" stroke-dasharray="2000" stroke-dashoffset="2000"/>
        </g>
        </svg>
       <p>ABOUT</p>
      </div>
      <div class="nav_link none grid_2">
          <svg version="1.1" routerLink="/posts" routerLinkActive="active" id="posts_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 411.1 370" style="enable-background:new 0 0 411.1 370;" xml:space="preserve">
       <style type="text/css">
         .posts_svg{fill:none;stroke:#616161;stroke-width:9;stroke-miterlimit:10;}
       </style>
       <g>
         <path class="posts_svg" d="M95.6,4.5h216c0,0,95,18,95,96s0,162,0,162H4.6v-160C4.6,102.5-1.4,4.5,95.6,4.5z" stroke-dasharray="2000" stroke-dashoffset="2000"/>
         <path class="posts_svg" d="M132.6,4.5c0,0,58,27,58,97s0,161,0,161" />
         <rect   class="posts_svg" x="63.6" y="89.5" width="63" height="24"  />
         <polygon class="posts_svg" points="232.6,89.5 371.6,89.5 371.6,186.5 302.1,186.5 302.1,113.5 232.6,113.5 	" />
       </g>
       </svg>
       <p>POSTS</p>
      </div>      
      <div class="nav_link none grid_2">
          <svg version="1.1" routerLink="/calendar" routerLinkActive="active" id="calendar_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 313 370.5" style="enable-background:new 0 0 313 370.5;" xml:space="preserve">
       <style type="text/css">
         .calendar_svg{fill:none;stroke:#616161;stroke-width:9;stroke-miterlimit:10;}
       </style>
       <g>
         <path class="calendar_svg" d="M296.5,363h-280c-6.6,0-12-5.4-12-12V71c0-6.6,5.4-12,12-12h280c6.6,0,12,5.4,12,12v280
           C308.5,357.6,303.1,363,296.5,363z" stroke-dasharray="2000" stroke-dashoffset="2000"/>
         <polyline class="calendar_svg" points="70.5,0 70.5,59 238.5,59 238.5,0 	" stroke-dasharray="2000" stroke-dashoffset="2000"/>
         <line class="calendar_svg" x1="4.5" y1="126" x2="308.5" y2="126" />
         <g>
           <line class="calendar_svg" x1="63.5" y1="194" x2="101" y2="231.5"/>
           <line class="calendar_svg" x1="101" y1="194" x2="63.5" y2="231.5"/>
         </g>
         <g>
           <line class="calendar_svg" x1="137.75" y1="192.25" x2="175.25" y2="229.75"/>
           <line class="calendar_svg" x1="175.25" y1="192.25" x2="137.75" y2="229.75"/>
         </g>
         <g>
           <line class="calendar_svg" x1="211.75" y1="194" x2="249.25" y2="231.5"/>
           <line class="calendar_svg" x1="249.25" y1="194" x2="211.75" y2="231.5"/>
         </g>
         <g>
           <line class="calendar_svg" x1="211.75" y1="265.25" x2="249.25" y2="302.75"/>
           <line class="calendar_svg" x1="249.25" y1="265.25" x2="211.75" y2="302.75"/>
         </g>
         <g>
           <line class="calendar_svg" x1="137.75" y1="265.25" x2="175.25" y2="302.75"/>
           <line class="calendar_svg" x1="175.25" y1="265.25" x2="137.75" y2="302.75"/>
         </g>
         <g>
           <line class="calendar_svg" x1="63.5" y1="265.25" x2="101" y2="302.75"/>
           <line class="calendar_svg" x1="101" y1="265.25" x2="63.5" y2="302.75"/>
         </g>
       </g>
       </svg>
       <p>CALENDAR</p>
      </div>
    </nav>
    <div class="ms_access" >
        <svg routerLink="/signup" routerLinkActive="active" version="1.1" id="signup_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 353 288.47" style="enable-background:new 0 0 353 288.47;" xml:space="preserve">
       <style type="text/css">
         .signup_svg{fill:none;stroke:#616161;stroke-width:9;stroke-miterlimit:10;}
       </style>
       <g>
         <polyline class="signup_svg" points="218.5,14.61 348.5,14.61 348.5,276.61 218.5,276.61 	" stroke-dasharray="2000" stroke-dashoffset="2000"/>
         <polygon class="signup_svg" points="126.5,14.61 258.5,146.61 127.5,277.61 127.5,191.61 4.5,191.61 4.5,108.61 120.5,108.61 120.5,9.61 	
           " stroke-dasharray="2000" stroke-dashoffset="2000"/>
       </g>
       </svg>
      </div>
  </header>


