/*
 Width: 980px
 # Columns : 12 
 Column width: 56px
 Gutter : 28px 

 © Copyright 2013 Treehouse. All Rights Reserved.

 */

 .grid_1 { width: 5.714285714%; } /* 56px/980px = 0.05714285714 */
 .grid_2 { width: 14.285714285%; } /* 140px/980px =  0.14285714285 */
 .grid_3 { width: 22.857142857%; } /* 224px/980px = 0.22857142857 */
 
 .grid_4 { width: 31.428571428%; } /* 308px/980px = 0.31428571428 */
 .grid_5 { width: 40%; } /* 392px/980px = 0.4 */
 .grid_6 { width: 48.571428571%; } /* 476px/980px = 0.48571428571 */
 .grid_7 { width: 57.142857142%; } /* 560px/980px = 0.57142857142 */
 .grid_8 { width: 65.714285714%; } /* 644px/980px = 0.66 */
 .grid_9 { width: 74.285714285%; } /* 728px/980px = 0.74285714285 */
 .grid_10 { width: 82.857142857%; } /* 812px/980px = 0.82857142857 */
 .grid_11 { width: 91.428571428%; } /* 896px/980px = 0.91428571428 */
 .grid_12 { width: 100%; } /* 1000px/980px = 1 */
 
 .push_1 { margin-left: 5.714285714%; } /* 56px/980px = 0.05714285714 */
 .push_2 { margin-left: 14.285714285%; } /* 140px/980px =  0.14285714285 */
 .push_3 { margin-left: 22.857142857%; } /* 224px/980px = 0.22857142857 */
 .push_4 { margin-left: 31.428571428%; } /* 308px/980px = 0.31428571428 */
 .push_5 { margin-left: 40%; } /* 392px/980px = 0.4 */
 .push_6 { margin-left: 48.571428571%; } /* 476px/980px = 0.48571428571 */
 .push_7 { margin-left: 57.142857142%; } /* 560px/980px = 0.57142857142 */
 .push_8 { margin-left: 65.714285714%; } /* 644px/980px = 0.66 */
 .push_9 { margin-left: 74.285714285%; } /* 728px/980px = 0.74285714285 */
 .push_10 { margin-left: 82.857142857%; } /* 812px/980px = 0.82857142857 */
 .push_11 { margin-left: 91.428571428%; } /* 896px/980px = 0.91428571428 */
 
 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11 {
     margin-right: 2.857142857% ;
     margin-top: 2%;
     margin-bottom: 2%;
     float: left;
     display: block;
 }
 
 
 .alpha {margin-left:0 !important;}
 .omega {margin-right:0 !important;}
 
 .none {margin: 0 !important;}
 
 .container{
     width: 90%; /*width: 980px;*/
     max-width: 980px;
     margin: 0 auto;
 }
 .clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
 .clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
 * html .clearfix,*:first-child+html .clearfix{zoom:1}