@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

@mixin transform ($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    transform: $value;
} 
@mixin boxShadow (){
    -webkit-box-shadow: 0px 10px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px -12px rgba(0,0,0,0.75);
}