/* You can add global styles to this file, and also import other style files */
@import './global-styles/reset.scss';
@import './global-styles/normalize.scss';
@import './global-styles/main.scss';
@font-face {
    font-family: 'Lato-Light';
    // src: url('./assets/fonts/Raleway-Light.ttf') format('opentype');
    src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
@font-face {
    font-family: 'Abel-Regular';
    // src: url('./assets/fonts/Raleway-Light.ttf') format('opentype');
    src: url('./assets/fonts/Abel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
body{
    font-family: 'Lato-Light', sans-serif;
    margin: auto;
    line-height: 1.375em;
    font-size: 14px;
}
nav, header{
    font-family: 'Abel-Regular', sans-serif;
}
a{
    text-decoration: none;
}
button{
    background-color: none !important;
    border: none !important;
    padding: 4px;
    width: 100%;
}
svg, img{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    // pointer-events: none;
}
