@import '../../global-styles/main.scss';

#ms_home_page{
    background-color: $theme_blue;
    width: 100%;
    height: auto;
}

.carusel_container{
    height: 700px;
    background-color: $theme_pink;
}
